DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DATABASE_NAME=shoppernestapidb
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

ADMIN_SECRET_KEY=

FLW_PUBLIC_KEY=your_flutterwave_public_key
FLW_SECRET_KEY=your_flutterwave_secret_key

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

FRONTEND_URL=

REDIS_HOST=localhost
REDIS_PORT=6379
